@import "../../../bower_components/normalize-css/normalize.css";
@import "mixins";
@import "variables";
@import "calculator";

*{
  box-sizing: border-box;
}

html, body {
  min-height:100%;
  min-width: 320px;
  font-family: 'Lato', sans-serif;
  color: #333;
  background-color: #FFF;
  @include background-gradient($bg-color, #FFF);
}

.page-wrapper{
  min-height: 100%;
  width: 100%;
  //@include background-gradient($bg-color, #FFF);
  background: url("../images/logo-eyeo.png") center center no-repeat;
  @include background-size(contain);

  text-align: center;
}



.table{
  display: table;
  width: 100%;
}

.table-cell{
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

header{
  padding: 1em;
  color: #333;
  text-shadow: 0 0 8px #FFF;
}


footer{
  text-shadow: 1px 1px 3px rgba(0,0,0,0.8);
  width: 100%;
  padding: 2em 0;

  a{
    color: $link-color;
  }
}

@media screen and (min-width: 1200px) {
  body{
    font-size: 110%;
  }
}


@media screen and (min-width: 1600px) {
  body {
    font-size: 120%;
  }
}

@media screen and (min-width: 2200px) {
  body {
    font-size: 140%;
  }
}

@media screen and (min-width: 2800px) {
  body {
    font-size: 160%;
  }
}

@media screen and (min-width: 3200px) {
  body {
    font-size: 170%;
  }
}